.metals
cloud_exec/.metals
.bloop
.bsp
.idea
.idea/*
output/
output/*
!project
project/*
!project/plugins.sbt
src/project
src/test
src/main/scala/project
src/main/resources/AssociationRules
src/main/resources/Times
src/main/resources/associationrules
src/main/resources/times
target
target/*
